<html ng-app ="shareTheBillApp">
<head>
    <script src="http://code.angularjs.org/1.0.7/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller/controller.js"></script>
    <script src="scripts/services/services.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/stijlblad.css">
</head>
<body>
<h1>Rekening Mampoko</h1>

<p>Klik op de zaken die je gegeten/gedronken hebt om het aantal te verhogen:</p>

<div ng-controller="RekeningCtrl" id="berekening">
    <ul class="block">
        <li class="item-selected-true">Water: &#8364;{{waterPerPersoon}} (&#8364;14/8 personen)</li>
        <li ng-repeat="rekeningItem in rekeningItems" ng-click="addSelectedItem(rekeningItem)" ng-disabled="true"
            class="item-selected-{{rekeningItem.selected}}">{{rekeningItem.omschrijving}}:
            {{rekeningItem.prijs|currency:"&#8364;"}} - <span class="belangrijk">{{rekeningItem.totaalSelected}} van de {{rekeningItem.totaalAantal}}</span>
        </li>
    </ul>
    <h2>Hoeveel moet ik nu betalen?</h2>

    <p>{{selectedTotaal|currency:"&#8364;"}}</p>

    <h2>Totaal rekening</h2>

    <p>{{berekenTotaal()|currency:"&#8364;"}}</p>
</div>
<div id="rekeningImg">
    <img src="img/rek.jpg" alt="Rekening" height="999" width="331">
</div>
</body>
</html>
