<html ng-app="shareTheBillApp">
<head>
    <script src="http://code.angularjs.org/1.0.7/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller/controller.js"></script>
    <script src="scripts/services/services.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/stijlblad.css">
</head>
<body>
<h1>Bill Mampoko</h1>
<p>Click on an item to increase to quantity</p>
<div ng-controller="BillOverviewCtrl" id="calculationDiv">
    <ul class="block">
        <li ng-repeat="billItem in billItems" ng-click="increaseQuantityUserSelectedItemByOne(billItem.id)" class="item-crossed-{{isItemCrossed(billItem.id)}} clickable">
            {{billItem.description}}:
            {{billItem.price|currency:"&#8364;"}} - <span class="important">{{findUserSelectedItemById(billItem.id).quantity}} van de {{billItem.totalQuantity}}</span>
        </li>
    </ul>
    <h2>How much do i need to pay?</h2>

    <p>{{calculateTotalPriceUserSelectedItems()|currency:"&#8364;"}}</p>
</div>
<div id="imageBill">
    <img src="img/rek.jpg" alt="Rekening" height="999" width="331">
</div>
</body>
</html>
